# Copyright 2025 Hewlett Packard Enterprise Development LP
#
name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  # Only allows one build per each workflow & branch/PR/tag.
  # https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
#  copyright-check:
#    if: github.ref != 'refs/heads/main'
#    uses: hpe-actions/copyright/.github/workflows/copyright.yml@v2

#  secrets-scanner:
#    uses: hpe-actions/secrets-scanner/.github/workflows/secrets-scanner.yml@v2.0.2
#    with:
#      config_override: ".gitleaks.toml"

  build:
    runs-on: ubuntu-latest
#    environment:
#      name: github-pages
#      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: write
      packages: read
      statuses: write
      pages: write
      id-token: write
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive 

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: gradle/actions/setup-gradle@v4

      - name: Run CodeNarc
        run: |
          ./gradlew codenarcMain --continue || true

      - name: Install xmllint
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils

      - name: Summarize CodeNarc Violations
        continue-on-error: true
        run: |
          xml_report="build/reports/codenarc/main.xml"

          if [ -f "$xml_report" ]; then
            p1=$(xmllint --xpath "count(//Violation[@priority='1'])" "$xml_report")
            p2=$(xmllint --xpath "count(//Violation[@priority='2'])" "$xml_report")
            p3=$(xmllint --xpath "count(//Violation[@priority='3'])" "$xml_report")

            if [ "$p1" -ge 1 ]; then
              echo "Build failed: Found $p1 Priority 1 CodeNarc violations"
              # exit 1
            fi

            if [ "$p2" -ge 10 ]; then
              echo "Build failed: Found $p2 Priority 2 CodeNarc violations (>=10 not allowed)"
              # exit 1
            fi

            if [ "$p3" -gt 20 ]; then
              echo "::warning::Found $p3 Priority 3 CodeNarc violations (>20)"
            fi
          else
            echo "No CodeNarc report found" >> $GITHUB_STEP_SUMMARY
          fi

      - name: Upload CodeNarc Reports
        uses: actions/upload-artifact@v4
        with:
          name: codenarc-reports
          path: |
            build/reports/codenarc/main.xml
            build/reports/codenarc/main.html

      # Install Gitleaks
      - name: Install Gitleaks
        run: |
          curl -sSL https://github.com/gitleaks/gitleaks/releases/download/v8.28.0/gitleaks_8.28.0_linux_x64.tar.gz -o gitleaks.tar.gz
          tar -xvzf gitleaks.tar.gz
          chmod +x gitleaks
          sudo mv gitleaks /usr/local/bin/
          gitleaks version

      - name: Run Gitleaks Scan
        run: |
          gitleaks detect \
            --source . \
            --report-format json \
            --no-banner \
            --report-path gitleaks-report.json \
            --verbose
        continue-on-error: true

      - name: Upload Gitleaks Report
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: gitleaks-report.json

      - name: Run Unit Tests
        run: |
          ./gradlew  test

      - name: Upload Unit Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: build/test-results/test/

      - name: Generate JaCoCo Coverage Report
        run: |
          ./gradlew jacocoTestReport

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: build/reports/jacoco/test/

      - name: Verify Coverage Thresholds
        run: |
          ./gradlew jacocoTestCoverageVerification

      - name: Summarize Test Results
        run: |
          echo "### Test Summary" | tee -a $GITHUB_STEP_SUMMARY
          echo '```' | tee -a $GITHUB_STEP_SUMMARY
          ./gradlew testSummary --console=plain -Dorg.gradle.logging.level=quiet | sed 's/\x1b\[[0-9;]*m//g' | tee -a $GITHUB_STEP_SUMMARY
          echo '```' | tee -a $GITHUB_STEP_SUMMARY
        env:
          TERM: dumb

  publish-to-artifactory:
    needs: build 
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew artifactoryPublish
        env:
          ARTIFACTORY_USER: 'ci-token-forecasters'
          ARTIFACTORY_PASSWORD: ${{ secrets.CI_TOKEN_MORPHEUS }}

